:root {
  --vp-c-brand-1: #6f4fd8;
  --vp-c-brand-2: #5b43bb;
  --vp-c-brand-3: #8067df;
  --vp-c-sponsor: #0f766e;
}

.dark {
  --vp-c-brand-1: #c4b5fd;
  --vp-c-brand-2: #a78bfa;
  --vp-c-brand-3: #8b5cf6;
}

.VPHomeHero .image-src {
  max-width: 220px;
  max-height: 220px;
}

.vp-doc table {
  display: table;
  width: 100%;
}

.home-last-updated {
  color: var(--vp-c-text-2);
  font-size: 14px;
}

.dark .vp-doc :not(pre) > code {
  color: var(--vp-c-brand-1);
}

.vp-doc h1 code,
.vp-doc h2 code,
.vp-doc h3 code,
.vp-doc h4 code,
.vp-doc h5 code,
.vp-doc h6 code,
.dark .vp-doc h1 code,
.dark .vp-doc h2 code,
.dark .vp-doc h3 code,
.dark .vp-doc h4 code,
.dark .vp-doc h5 code,
.dark .vp-doc h6 code {
  color: inherit;
}
